@import '~sass-colors';
@import '~flexbox-fast/index.scss';
@import '~bootstrap-container/index.scss';
@import '~scroll-style/index.scss';

*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   font-size: 16px;
   @media (max-width: 1050px) {
      font-size: 13px;
      // background-color: orange;
   }
}

body {
   font-family: Poppins, Helvetica, Arial, sans-serif;
   margin: 0;
   font-size: 1rem;

   @media (max-width: 1006px) {
      // font-size: 200px;
      //background: orange;
   }
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

@import './global/global.scss';
@import './components/componenst.scss';
@import './pages/pages.scss'
