.header {
   position: fixed;
   width: 100%;
   background-color: white;
   z-index: 10;
   box-shadow: 0 0 30px -7px #eeeeee;

   .container {
      height: 80px;

      .brand {
         a {
            color: $secondary;
            text-decoration: none;
            img {
               width: 40px;
               height: auto;
            }
         }
      }

      .nav-menu {
         flex: 1;
         ul li a {
            padding: 5px;
            margin: 0 5px;
            color: $secondary;
            position: relative;
            transition: all 0.4s ease-in-out;

            &:after {
               border-radius: 290486px;
               content: '';
               display: block;
               left: 0;
               position: absolute;
               transform: scaleX(0);
               transform-origin: center left;
               transition-duration: 0.4s;
               transition-property: transform;
               width: 100%;
               background-color: currentColor;
               bottom: -4px;
               height: 2px;
               background-color: $primary;
            }

            &:hover {
               color: $primary;

               &:after {
                  transform: scale(1);
               }
            }
         }
      }

      .actions {
         a {
            font-size: 27px;
            svg {
               margin: 0 5px;
               &.github {
                  color: black;
               }
               &.twitter {
                  color: rgb(23, 111, 211);
               }
               &.dev {
                  color: black;
               }
            }
         }
      }
   }
}
