nav{
   box-shadow: 0 2px 0 0 #f5f5f5;
   position: fixed;
   width: 100%;
   background-color: white;
   z-index: 10;

   &>.container{
      padding: 10px 0;
      &>.brand{
         a{
            color: $textW;
            text-decoration: none;
            img{
               width:50px;
               height: auto;
            }
         }
      }

      &>.nav-menu{
         ul{
            li{
               &>a{
                  padding: 10px 5px;
                  margin: 0 20px;
                  font-size: 20px;;
                  color: $textW;
                  position: relative;
                  svg{
                     display:none;
                  }
                  span{
                  }

                  &:after {    
                     content: "";
                     background: none repeat scroll 0 0 transparent;
                     bottom: 0;
                     display: block;
                     height: 2px;
                     left: 50%;
                     position: absolute;
                     transition: width 0.3s ease 0s, left 0.3s ease 0s;
                     width: 0;
                     background: orange;
                     
                   }
                   &:hover:after { 
                     width: 100%; 
                     left: 0; 
                   }
               }
            }
         }
      }

      &>.actions{
         &>a{
            font-size: 35px;
            &>svg{
               margin: 0 5px;
               padding: 5px;
               &.github{
                  color: black;
               }
               &.twitter{
                  color: rgb(23, 111, 211);
               }
               &.dev{
                  color: black;
               }
            }
         }
      }
   }
}