.header {
   width: 100%;
   background-color: white;
   z-index: 10;
   // box-shadow: 0 0 30px -7px #eeeeee;
   position: sticky;
   top: 0px;
   transition: all 0.3s;
   font-size: 16px;

   .container {
      height: 5em;

      .brand {
         a {
            color: $secondary;
            text-decoration: none;
            img {
               width: 2.8em;
               height: auto;
            }
         }
      }

      .nav-menu {
         flex: 1;
         ul li a {
            padding: 5px;
            margin: 0 5px;
            // color: $secondary;
            color: #414c5a;
            position: relative;
            transition: all 0.4s ease-in-out;
            font-family: 'Quicksand', Arial, sans-serif !important;
            font-weight: 600;
            font-size: 1.1em;
            &:after {
               border-radius: 290486px;
               content: '';
               display: block;
               left: 0;
               position: absolute;
               transform: scaleX(0);
               transform-origin: center left;
               transition-duration: 0.4s;
               transition-property: transform;
               width: 100%;
               background-color: currentColor;
               bottom: -4px;
               height: 2px;
               background-color: $primary;
            }

            &:hover {
               color: $primary;

               &:after {
                  transform: scale(1);
               }
            }
         }
      }

      .actions {
         a {
            font-size: 1.1em;
            svg {
               margin: 0 6px;
               &.github {
                  color: black;
               }
               &.twitter {
                  color: rgb(23, 111, 211);
               }
               &.dev {
                  color: black;
               }
            }
         }
      }
   }

   &.scrolled {
      // background: red;
      font-size: 14px;
      box-shadow: 0 0 30px -7px #eeeeee;
   }
}
