section{
   &>div{
      padding: 16em 0;
      .presentation{
         padding: 10px;
         &>div{
            position: relative;
            color: $textW;
            span{
               position: absolute;
               top: 0;
               left: -2.5rem;
               font-size: 2rem;
            }
            h1{
               font-size: 2.2rem;
               font-weight: 500;
            }
            
            p{
               font-size: 2rem;
            }
            
            .presentationIcons{
               &>div{
                  a{
                     cursor: pointer;
                     font-size: 2.5rem;
                     svg{
                        margin: 0 5px;
                        padding: 5px;
                        &.github{
                           color: black;
                        }
                        &.medium{
                           color: black;
                        }
                        &.twitter{
                           color: rgb(23, 111, 211);
                        }
                        &.dev{
                           color: black;
                        }
                        &.linkedin{
                           color: #0e76a8;
                        }
                     }
                  }
               }
            }
         }
      }

      .video{
         video{
            width: 500px;
            border-radius: 5px;
         }
      }
   }
}